.p-contact-menu {
  display: flex;
  margin-top: 4.3rem;
  align-items: flex-end;
  flex-direction: column;

  @include mq("md") {
    flex-direction: row;
    margin-top: 3.9rem;
  }
}

.p-contact-menu__budget {
  width: 100%;

  @include mq("md") {
    width: 44.6rem;
  }

  dd {
    margin-top: 0.6rem;

    @include mq("md") {
      margin-top: 1.5rem;
    }
  }
}

.p-contact-menu__delivery {
  width: 100%;
  margin-left: 0;
  margin-top: 3.8rem;
  
  @include mq("md") {
    width: 46.5rem;
    margin-top: 0;
    margin-left: 1.9rem;
  }

  dd {
    @include mq("md") {
      margin-top: 1.5rem;
    }
  }
}
