.p-item {
}

.p-item__name {
  font-size: 1.6rem;
  color: $color-000;
  margin-top: 2.1rem;
  font-weight: $medium;

  @include mq("md") {
    font-size: 2.4rem;
    margin-top: 0;
  }
}
.p-item__name--01 {
  margin-top: 1.6rem;

  @include mq("md") {
    margin-top: 0;
  }
}

.p-item__name--02 {
  margin-top: 3.5rem;

  @include mq("md") {
    margin-top: 0;
  }
}

.p-item__name--03 {
  margin-top: 3.6rem;

  @include mq("md") {
    margin-top: 0;
  }
}

.p-item__category {
  color: $color-000;
  font-size: 1.2rem;
  margin-top: 1.7rem;
}
.p-item__title {
  color: $color-000;
  font-size: 1.6rem;
  font-weight: $bold;
  line-height: 1.66667;
  margin-top: 1.1rem;

  @include mq("md") {
    margin-top: 1.9rem;
  }
}

.p-item__title--01 {
  margin-top: 2rem;
  @include mq("md") {
    margin-top: 1.9rem;
  }
}

.p-item__title--02 {
  margin-top: 2.2rem;
  line-height: 1.375;
  @include mq("md") {
    margin-top: 1.9rem;
    line-height: 1.66667;
  }
}

.p-item__title--03 {
  margin-top: 2.3rem;
  line-height: 2;
  @include mq("md") {
    margin-top: 1.9rem;
    line-height: 1.66667;
  }
}

.p-item__title--04 {
  margin-top: 1.1rem;

  @include mq("md") {
    margin-top: 1.5rem;
  }
}

.p-item__text {
  color: $color-000;
  line-height: 1.6875;
  margin-top: 0.3rem;
  font-size: 1rem;

  @include mq("md") {
    font-size: 1.6rem;
    margin-top: 1.5rem;
  }
}

.p-item__text--01 {
  margin-top: 1.1rem;

  @include mq("md") {
    margin-top: 2.2rem;
  }
}

.p-item__text--02 {
  margin-top: 2rem;

  @include mq("md") {
    margin-top: 1.3rem;
  }
}

.p-item__text--03 {
  margin-top: 1rem;
  @include mq("md") {
    margin-top: 1.5rem;
  }
}

.p-item__text--04 {
  margin-top: 1.5rem;
  @include mq("md") {
    margin-top: 2rem;
  }
}

.p-item__category--05 {
  margin-top: 3rem;

  @include mq("md") {
    margin-top: 1.9rem;
  }
}
