.p-list {
  max-width: 13.2rem;
  flex-shrink: 0;
  &:nth-child(n + 2) {
  }

  @include mq("md") {
    max-width: 36rem;
    &:nth-child(n + 2) {
    }
  }
}
.p-list__img {
}

.p-list__text {
  font-size: 1rem;
  transform: scale(0.8);
  transform-origin: 0 0;
  color: $color-222;
  line-height: 1.75;
  margin-top: 0.7rem;

  @include mq("md") {
    line-height: 1.68181;
    font-size: 2.2rem;
    transform: none;
    margin-top: 1.4rem;
  }
}
