.p-tag {
}

.p-tag__item {
  color: $color-000;
  font-size: 1.6rem;
  font-family: $second-font-family;
  font-weight: $bold;
  line-height: 1.1875;
  margin-top: 2.1rem;

  margin-right: 2rem;
  &:nth-child(n + 2) {
    @include mq("md") {
      margin-left: 3.3rem;
      margin-right: 0;
    }
  }

  @include mq("md") {
    margin-top: 0;
  }
}
