.p-work-border {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    border: 0.1rem solid $border-color;
    width: 6rem;
    bottom: -8.4rem;
    left: 50%;
    transform: translateX(-50%);
    @include mq("md") {
      display: none;
    }
  }
}
